{% extends "asteration/layout.html" %}

{% block css_js %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='asteration/css/about.css') }}">
{% endblock css_js %}

{% block title %}About Us{% endblock title %}

{% block main %}
	<section class="we-are-asteration">
		<p id="left">WE ARE<br>ASTERATION</p>
		<img id="right" src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1705085664/Asteration/image/Logo/asteration_jottdw.png">
	</section>

	<section class="daftar-isi">
		<p>
			<a href="#top-3">TOP 3</a> |
			<a href="#sekretaris">SEKRETARIS</a> |
			<a href="#bendahara">BENDAHARA</a> |
			<a href="#bela-negara">BELA NEGARA</a> |
			<a href="#mm-web">MULTIMEDIA WEBSITE</a> |
			<a href="#mm">MULTIMEDIA ON-FIELD</a> |
			<a href="#sekretariat">SEKRETARIAT</a> |
			<a href="#dokumentasi">DOKUMENTASI</a> |
			<a href="#kreatif">KREATIF</a> |
			<a href="#sosial">SOSIAL</a> |
			<a href="#publikasi">HUMAS DAN PUBLIKASI</a> |
			<a href="#ketuhanan">KETUHANAN YANG MAHA ESA</a> |
			<a href="#bahasa">BAHASA</a> |
			<a href="#apresiasi-seni">APRESIASI SENI DAN OLAHRAGA</a> |
			<a href="#komunikasi">KOMUNIKASI</a> |
			<a href="#editor">VIDEO EDITOR</a> |
			<a href="#illustrator">ILLUSTRATOR</a> |
			<a href="#script_writer">SCRIPT WRITER</a> |
			<a href="#acting">ACTRESS</a>
		</p>
	</section>

	<!-- TOP 3 -->
	<section class="foto-sekbid" id="top-3">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715307324/Asteration/About%20Us/Banner%20Sekbid/top_3_dbdwu9.png">

		<div class="personal-card">

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/jessslyn.evania/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715253232/Asteration/About%20Us/Top%203/jess_yij55z.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">8</div>
				<hr>
				<div class="info">
					<p id="name">Jesslyn Evania Y. K.</p>
					<p id="panggilan"><em>/jess/</em></p>
					<p id="jabatan">Wakil Ketua Osis I</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/renatabrigitta/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715253232/Asteration/About%20Us/Top%203/tata_gfuovj.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">1</div>
				<hr>
				<div class="info">
					<p id="name">Renata Brigitta</p>
					<p id="panggilan"><em>/tata/</em></p>
					<p id="jabatan">Ketua Osis</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/ctrn.99/">

					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715253231/Asteration/About%20Us/Top%203/cath_hlvxzd.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">9</div>
				<hr>
				<div class="info">
					<p id="name">Catharine Fidelya Amran</p>
					<p id="panggilan"><em>/cath cath/</em></p>
					<p id="jabatan">Wakil Ketua Osis II</p>
				</div>
			</div>
		</div>
	</section>

	<!-- SEKRETARIS -->
	<section class="foto-sekbid" id="sekretaris">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249810/Asteration/About%20Us/Banner%20Sekbid/SEKRETARIS_kquhiw.png">

		<div class="personal-card">
			<div class="each-info">
				<a href="https://www.instagram.com/zahiraanasyr/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715253965/Asteration/About%20Us/Sekretaris/zahira_e275mx.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">84</div>
				<hr>
				<div class="info">
					<p id="name">Zahira Nasywa Rumaisha</p>
					<p id="panggilan"><em>/raya zuzu/</em></p>
					<p id="jabatan">Sekretaris</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/michelle_aneurin/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715253965/Asteration/About%20Us/Sekretaris/michelle_rqspst.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">99</div>
				<hr>
				<div class="info">
					<p id="name">Michelle Aneurin</p>
					<p id="panggilan"><em>/ny/</em></p>
					<p id="jabatan">Wakil Sekretaris</p>
				</div>
			</div>
		</div>
	</section>

	<!-- BENDAHARA -->
	<section class="foto-sekbid" id="bendahara">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715308541/Asteration/About%20Us/Banner%20Sekbid/bendahara_cgk2tz.png">

		<div class="personal-card">
			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/ceizaclaricelle/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715255970/Asteration/About%20Us/Bendahara/ceiza_yuieyv.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">23</div>
				<hr>
				<div class="info">
					<p id="name">Ceiza Claricelle Sadikin</p>
					<p id="panggilan"><em>/ceiza/</em></p>
					<p id="jabatan">Bendahara</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/celinensan/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715308496/Asteration/About%20Us/Bendahara/celine_pqwire.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">19</div>
				<hr>
				<div class="info">
					<p id="name">Celine Natifa Sanny</p>
					<p id="panggilan"><em>/celine/</em></p>
					<p id="jabatan">Wakil Bendahara</p>
				</div>
			</div>
		</div>
	</section>

	<!-- BELA NEGARA -->
	<section class="foto-sekbid" id="bela-negara">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715309198/Asteration/About%20Us/Banner%20Sekbid/belneg_dimtui.png">

		<div class="personal-card">

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/chrisrainito/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715260432/Asteration/About%20Us/Belneg/chris_cctemi.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">12</div>
				<hr>
				<div class="info">
					<p id="name">Chrisrainito Core</p>
					<p id="panggilan"><em>/chris/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/felygrls/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715260432/Asteration/About%20Us/Belneg/feli_zzltra.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">15</div>
				<hr>
				<div class="info">
					<p id="name">Felicia Griselda Hendry</p>
					<p id="panggilan"><em>/bbbyou/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/syahdansu/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715260434/Asteration/About%20Us/Belneg/syahdan_s9r1dk.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">20</div>
				<hr>
				<div class="info">
					<p id="name">Syahdan Rafi Akram</p>
					<p id="panggilan"><em>/syahdan/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/michelleangelieque/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715260433/Asteration/About%20Us/Belneg/michelle_tqlnvj.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">31</div>
				<hr>
				<div class="info">
					<p id="name">Michelle Angelieque G</p>
					<p id="panggilan"><em>/quee/ /kuee/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/celliquor/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715260437/Asteration/About%20Us/Belneg/joce_a3qfiw.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">33</div>
				<hr>
				<div class="info">
					<p id="name">Jocelline Chrestella E. T.</p>
					<p id="panggilan"><em>/joce/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/_nindyablla/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715260433/Asteration/About%20Us/Belneg/danastri_pganez.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">2</div>
				<hr>
				<div class="info">
					<p id="name">Danastri Anindya S</p>
					<p id="panggilan"><em>/nindy/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/gabrielayln/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715260435/Asteration/About%20Us/Belneg/gab_pwmo1o.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">79</div>
				<hr>
				<div class="info">
					<p id="name">Gabriela Yocelyn</p>
					<p id="panggilan"><em>/gaby/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/tiatambunan_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715260435/Asteration/About%20Us/Belneg/tia_albtug.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">73</div>
				<hr>
				<div class="info">
					<p id="name">Sulystiawaty Tambunan</p>
					<p id="panggilan"><em>/tia/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info" id="size-550-border">
				<a href="https://www.instagram.com/aura.chantika_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715260432/Asteration/About%20Us/Belneg/aura_c1qiuw.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">22</div>
				<hr>
				<div class="info">
					<p id="name">Aura Chantika Salsabila</p>
					<p id="panggilan"><em>/aura/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Multimedia Website-->
	<section class="foto-sekbid" id="mm-web">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249808/Asteration/About%20Us/Banner%20Sekbid/mm_web_a85q8q.png">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/kevinwlbrtj/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715265460/Asteration/About%20Us/MM%20web/kepin_qxg132.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">77</div>
				<hr>
				<div class="info">
					<p id="name">Kevin Wilbert Johan</p>
					<p id="panggilan"><em>/kepin/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/zh.giii/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715265460/Asteration/About%20Us/MM%20web/luigi_qcdda7.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">41</div>
				<hr>
				<div class="info">
					<p id="name">Luigi Emiliandra</p>
					<p id="panggilan"><em>/lugi/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715265461/Asteration/About%20Us/MM%20web/timot_uietol.png">
				<div class="nomor-jersey">75</div>
				<hr>
				<div class="info">
					<p id="name">Timothy Dhammatta Y</p>
					<p id="panggilan"><em>/timot/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Multimedia Onfield -->
	<section class="foto-sekbid" id="mm">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249809/Asteration/About%20Us/Banner%20Sekbid/mm_field_nfmpn8.png">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/austin.uno.888/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715309390/Asteration/About%20Us/MM%20On%20Field/austin_x0hywc.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">35</div>
				<hr>
				<div class="info">
					<p id="name">Austin Uno Hendri</p>
					<p id="panggilan"><em>/austin/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/marvin_ar_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715309391/Asteration/About%20Us/MM%20On%20Field/marvin_olq6pu.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">30</div>
				<hr>
				<div class="info">
					<p id="name">Marvin Alvianus R</p>
					<p id="panggilan"><em>/marpin/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/ard16._/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715309388/Asteration/About%20Us/MM%20On%20Field/daf_ft7cp8.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">16</div>
				<hr>
				<div class="info">
					<p id="name">Ahmad Rizki Daffaa</p>
					<p id="panggilan"><em>/dapa/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/fabian_siauw/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715309390/Asteration/About%20Us/MM%20On%20Field/fab_pb78jx.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">95</div>
				<hr>
				<div class="info">
					<p id="name">Fabian Siauw</p>
					<p id="panggilan"><em>/siau/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/alif.danendra_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715309387/Asteration/About%20Us/MM%20On%20Field/alif_uo6hxr.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">69</div>
				<hr>
				<div class="info">
					<p id="name">Alif Danendra</p>
					<p id="panggilan"><em>/alip/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Sekretariat -->
	<section class="foto-sekbid" id="sekretariat">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249817/Asteration/About%20Us/Banner%20Sekbid/sekretariat_ydmsvq.png">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/eujeandejolin/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715310963/Asteration/About%20Us/Sekretariat/eujean_tmyxjf.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">65</div>
				<hr>
				<div class="info">
					<p id="name">Eujean De Jolin</p>
					<p id="panggilan"><em>/eujean/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/ant.rickyy/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715310963/Asteration/About%20Us/Sekretariat/ricky_jdtnxt.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">78</div>
				<hr>
				<div class="info">
					<p id="name">Antonius Ricky</p>
					<p id="panggilan"><em>/riki/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/keooowww/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715310963/Asteration/About%20Us/Sekretariat/keolin_oinify.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">26</div>
				<hr>
				<div class="info">
					<p id="name">Keolin Juan Halim</p>
					<p id="panggilan"><em>/keolin/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/sshireen.s/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715310964/Asteration/About%20Us/Sekretariat/shiren_tjhatt.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">36</div>
				<hr>
				<div class="info">
					<p id="name">Shireen Silvia</p>
					<p id="panggilan"><em>/shireen/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/gladysshnn_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715310963/Asteration/About%20Us/Sekretariat/gladys_dfaghj.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">98</div>
				<hr>
				<div class="info">
					<p id="name">Gladys Theresia A. S.</p>
					<p id="panggilan"><em>/glad/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Dokumentasi -->
	<section class="foto-sekbid" id="dokumentasi">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249808/Asteration/About%20Us/Banner%20Sekbid/dokum_agftbp.png">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/bagashyn_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715312983/Asteration/About%20Us/Dokum/bagas_kurbg0.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">81</div>
				<hr>
				<div class="info">
					<p id="name">Bagas Farrel Haryana</p>
					<p id="panggilan"><em>/bagas/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/jonachenoa25/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715312983/Asteration/About%20Us/Dokum/jona_ftoffw.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">25</div>
				<hr>
				<div class="info">
					<p id="name">Jonathan Chenoa</p>
					<p id="panggilan"><em>/jona/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/valiqakhaya/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715312984/Asteration/About%20Us/Dokum/valiqa_dyqbib.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">13</div>
				<hr>
				<div class="info">
					<p id="name">Valiqa Khaya Nareshwari</p>
					<p id="panggilan"><em>/vali/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/wirafathi/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715312985/Asteration/About%20Us/Dokum/wir_e0iq5o.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">86</div>
				<hr>
				<div class="info">
					<p id="name">Muhammad Wira Fathi</p>
					<p id="panggilan"><em>/wir/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/kheisyamaharani_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715312984/Asteration/About%20Us/Dokum/kheisya_ps6fqv.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">54</div>
				<hr>
				<div class="info">
					<p id="name">Kheisya Mona Maharani</p>
					<p id="panggilan"><em>/teta/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Kreatif -->
	<section class="foto-sekbid" id="kreatif">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249808/Asteration/About%20Us/Banner%20Sekbid/kreatif_bpc70q.png">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/ay_leah/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715317821/Asteration/About%20Us/Kreatif/aleah_wbshp1.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">40</div>
				<hr>
				<div class="info">
					<p id="name">Ayleah Erwin Taufiek</p>
					<p id="panggilan"><em>/leah/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/benita_jf/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715317821/Asteration/About%20Us/Kreatif/ben_fgvaid.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">5</div>
				<hr>
				<div class="info">
					<p id="name">Benita Josephine Florency</p>
					<p id="panggilan"><em>/benbennn/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/rananaf_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715317821/Asteration/About%20Us/Kreatif/khairana_jzgibw.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">43</div>
				<hr>
				<div class="info">
					<p id="name">Khairana Nafiza klo</p>
					<p id="panggilan"><em>/rana/ /nanaa/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/iren.kenn/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715317821/Asteration/About%20Us/Kreatif/irene_tjgcqi.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">97</div>
				<hr>
				<div class="info">
					<p id="name">Irene Octarian Kennedy</p>
					<p id="panggilan"><em>/iren/ /ren/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/icelangelineee/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715317823/Asteration/About%20Us/Kreatif/michelle_escdgk.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">88</div>
				<hr>
				<div class="info">
					<p id="name">Michelle Angeline K</p>
					<p id="panggilan"><em>/icel/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/philiareeves/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715317823/Asteration/About%20Us/Kreatif/lupen_ccxzoa.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">28</div>
				<hr>
				<div class="info">
					<p id="name">Luvena Gladys</p>
					<p id="panggilan"><em>/upen/ /lupeng/ /lupen/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/nathanielliko/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715317822/Asteration/About%20Us/Kreatif/liko_exqsu5.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">14</div>
				<hr>
				<div class="info">
					<p id="name">Nathaniel Liko</p>
					<p id="panggilan"><em>/liko/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/ximie._/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715317823/Asteration/About%20Us/Kreatif/meni_ebsib1.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">39</div>
				<hr>
				<div class="info">
					<p id="name">Meni Santia</p>
					<p id="panggilan"><em>/meni/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Sosial -->
	<section class="foto-sekbid" id="sosial">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249810/Asteration/About%20Us/Banner%20Sekbid/sosial_mowc9o.png">

		<div class="personal-card">
			<div class="each-info">
				<a href="https://www.instagram.com/f.akilah._.b/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715433890/Asteration/About%20Us/Sosial/akil_qdg6db.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">64</div>
				<hr>
				<div class="info">
					<p id="name">Faizah Akilah Bakoro</p>
					<p id="panggilan"><em>/akilah/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/arialistaputri_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715433890/Asteration/About%20Us/Sosial/aria_hdipae.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">7</div>
				<hr>
				<div class="info">
					<p id="name">Arialista Putri Heryanthi</p>
					<p id="panggilan"><em>/moeiscent/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/jsnn_mm/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715433892/Asteration/About%20Us/Sosial/jas_zp4dbo.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">82</div>
				<hr>
				<div class="info">
					<p id="name">Jason Marvel</p>
					<p id="panggilan"><em>/jason/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/fatikan___/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715433893/Asteration/About%20Us/Sosial/ftk_zj0euu.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">59</div>
				<hr>
				<div class="info">
					<p id="name">Muhammad Fatik Yusuf</p>
					<p id="panggilan"><em>/fatik/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/andrewandrew47/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715433890/Asteration/About%20Us/Sosial/and_vqwvko.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">62</div>
				<hr>
				<div class="info">
					<p id="name">Francisco Andrew</p>
					<p id="panggilan"><em>/andrew/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/cellne.tan/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715433892/Asteration/About%20Us/Sosial/tan_hnm53z.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">10</div>
				<hr>
				<div class="info">
					<p id="name">Celine Aurelia Tan</p>
					<p id="panggilan"><em>/celine/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/charlesmaa_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715433891/Asteration/About%20Us/Sosial/alam_tov1ks.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">37</div>
				<hr>
				<div class="info">
					<p id="name">Charles Martha Alam</p>
					<p id="panggilan"><em>/charles/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Publikasi -->

	<section class="foto-sekbid" id="publikasi">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715436919/Asteration/About%20Us/Banner%20Sekbid/publi_yfmp5l.png">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/raihanairan/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715436781/Asteration/About%20Us/Publi/raya_yyy83p.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">70</div>
				<hr>
				<div class="info">
					<p id="name">Aisyah Raya Raihana</p>
					<p id="panggilan"><em>/raya/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/shaphiera/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715436780/Asteration/About%20Us/Publi/pipi_lnyffp.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">91</div>
				<hr>
				<div class="info">
					<p id="name">Shafira Khairi</p>
					<p id="panggilan"><em>/pipie/ /koko/ /cimoet/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/ameliyarn/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715436780/Asteration/About%20Us/Publi/amel_mjntd8.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">68</div>
				<hr>
				<div class="info">
					<p id="name">Amelia Ramadani</p>
					<p id="panggilan"><em>/amel/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/farisz_naufal/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715436779/Asteration/About%20Us/Publi/fariz_r1kahw.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">49</div>
				<hr>
				<div class="info">
					<p id="name">Muhammad Farisz N. A.</p>
					<p id="panggilan"><em>/faris/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/raisyahraraa/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715436781/Asteration/About%20Us/Publi/raisya_ifxxsn.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">80</div>
				<hr>
				<div class="info">
					<p id="name">Raisyah Zahrani Putri</p>
					<p id="panggilan"><em>/rara/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/gabriellaangelica____/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715436781/Asteration/About%20Us/Publi/ella_eobwyg.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">67</div>
				<hr>
				<div class="info">
					<p id="name">Gabriella Shalisha A</p>
					<p id="panggilan"><em>/angel/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Ketuhanan -->

	<section class="foto-sekbid" id="ketuhanan">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249807/Asteration/About%20Us/Banner%20Sekbid/ketuhanan_u6mip2.png">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/justine_pratama_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715329423/Asteration/About%20Us/Ketuhanan/just_idkiez.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">3</div>
				<hr>
				<div class="info">
					<p id="name">Justine Pratama</p>
					<p id="panggilan"><em>/justine/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/caaaa.rebec/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715329422/Asteration/About%20Us/Ketuhanan/eca_ouwjqn.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">24</div>
				<hr>
				<div class="info">
					<p id="name">Rebecca Dwioctania</p>
					<p id="panggilan"><em>/echa/ /rebe/ /becca/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/grcw_grsng/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715329423/Asteration/About%20Us/Ketuhanan/dear_uyx8ob.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">0</div>
				<hr>
				<div class="info">
					<p id="name">Gracia Dearis Girsang </p>
					<p id="panggilan"><em>/dear/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/marceliaangel_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715329425/Asteration/About%20Us/Ketuhanan/marc_qta9o9.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">92</div>
				<hr>
				<div class="info">
					<p id="name">Marcelia Angel Purba</p>
					<p id="panggilan"><em>/angel/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/msatrialfahri/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715329424/Asteration/About%20Us/Ketuhanan/sat_wm1ait.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">56</div>
				<hr>
				<div class="info">
					<p id="name">Muhammad Satria Alfahri</p>
					<p id="panggilan"><em>/physics lover/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Bahasa -->

	<section class="foto-sekbid" id="bahasa">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249806/Asteration/About%20Us/Banner%20Sekbid/bahasa_e6eqqb.png">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/denataans/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715327880/Asteration/About%20Us/Bahasa/denata_yusdzk.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">38</div>
				<hr>
				<div class="info">
					<p id="name">Denata Wijaya Ansyori</p>
					<p id="panggilan"><em>/denata/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/syalomita_shar/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715327878/Asteration/About%20Us/Bahasa/syalo_w6rssb.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">72</div>
				<hr>
				<div class="info">
					<p id="name">Syalomita Sharlen Yap</p>
					<p id="panggilan"><em>/syalo/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/b_nathaliiie/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715327878/Asteration/About%20Us/Bahasa/nata_fqz95b.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">87</div>
				<hr>
				<div class="info">
					<p id="name">Nathalie Budiman</p>
					<p id="panggilan"><em>/nat/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/vvionaavv/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715327879/Asteration/About%20Us/Bahasa/viona_gztjwl.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">52</div>
				<hr>
				<div class="info">
					<p id="name">Aurellia Viona Vigores</p>
					<p id="panggilan"><em>/viona/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Apresiasi Seni -->

	<section class="foto-sekbid" id="apresiasi-seni">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249809/Asteration/About%20Us/Banner%20Sekbid/seni_olahraga_j1ummi.png">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/yudhstra___/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715336113/Asteration/About%20Us/Apresiasi/yudis_tvcoc9.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">90</div>
				<hr>
				<div class="info">
					<p id="name">Rahmat Yudhistira</p>
					<p id="panggilan"><em>/yudis/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/alifpentanoval/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715336112/Asteration/About%20Us/Apresiasi/alif_gjmzkq.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">72</div>
				<hr>
				<div class="info">
					<p id="name">Alif Pentanoval</p>
					<p id="panggilan"><em>/alif/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/kita.sya/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715336111/Asteration/About%20Us/Apresiasi/niki_cy9bzl.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">57</div>
				<hr>
				<div class="info">
					<p id="name">Nikitasya Gita Laurensia</p>
					<p id="panggilan"><em>/niki/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/nagitaaliya_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715336112/Asteration/About%20Us/Apresiasi/nagita_jo5kmu.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">66</div>
				<hr>
				<div class="info">
					<p id="name">Nagita Aliya Sanopa</p>
					<p id="panggilan"><em>/geetak/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/m_yusuf_aja/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715336113/Asteration/About%20Us/Apresiasi/yusuf_xoowgu.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">61</div>
				<hr>
				<div class="info">
					<p id="name">Muhammad Yusuf</p>
					<p id="panggilan"><em>/yusuf/ /turu man/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/f_lloiwee.08/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715336112/Asteration/About%20Us/Apresiasi/kei_vadxex.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">93</div>
				<hr>
				<div class="info">
					<p id="name">Keisya Audrey</p>
					<p id="panggilan"><em>/kaisya/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/mulkiraja19/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715336113/Asteration/About%20Us/Apresiasi/raja_tisq9c.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">60</div>
				<hr>
				<div class="info">
					<p id="name">Muhammad Sultan M. R.</p>
					<p id="panggilan"><em>/raja/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>
			
			<div class="each-info">
				<a href="https://www.instagram.com/evelinnthnia/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715336111/Asteration/About%20Us/Apresiasi/evelin_r0whx4.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">85</div>
				<hr>
				<div class="info">
					<p id="name">Eveline Nathania</p>
					<p id="panggilan"><em>/eve/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>
			
			<div class="each-info">
				<a href="https://www.instagram.com/hildaaimya/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715336111/Asteration/About%20Us/Apresiasi/ime_w8mkt0.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">58</div>
				<hr>
				<div class="info">
					<p id="name">Hilda Ime Maya</p>
					<p id="panggilan"><em>/hilda/ /hero mobile legend/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Komunikasi -->
	<section class="foto-sekbid" id="komunikasi">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249806/Asteration/About%20Us/Banner%20Sekbid/komunikasi_udgddl.png">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/austryne_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715333897/Asteration/About%20Us/Komunikasi/trin_itmoes.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">6</div>
				<hr>
				<div class="info">
					<p id="name">Austrin Athalia Utami</p>
					<p id="panggilan"><em>/aussie/ /oik/ /cece mc/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/aurererererel/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715333895/Asteration/About%20Us/Komunikasi/rel_f0ghhl.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">51</div>
				<hr>
				<div class="info">
					<p id="name">Aurelliana Lakeisha J</p>
					<p id="panggilan"><em>/aurel/ /oler/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/klln.ntlne/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715333895/Asteration/About%20Us/Komunikasi/kell_gqrugg.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">17</div>
				<hr>
				<div class="info">
					<p id="name">Kellen Nataline</p>
					<p id="panggilan"><em>/kellen/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/nadinefian/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715333896/Asteration/About%20Us/Komunikasi/nad_dtkzol.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">32</div>
				<hr>
				<div class="info">
					<p id="name">Nadine Arista Fian</p>
					<p id="panggilan"><em>/nadine/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/kheiren_khei/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715333894/Asteration/About%20Us/Komunikasi/khei_nhroni.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">11</div>
				<hr>
				<div class="info">
					<p id="name">Kheiren Valentine H</p>
					<p id="panggilan"><em>/khei/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/vyandrtha/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715333896/Asteration/About%20Us/Komunikasi/tata_nj1jn7.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">42</div>
				<hr>
				<div class="info">
					<p id="name">Lyquitha Vyandra</p>
					<p id="panggilan"><em>/tata/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/fzzzell/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715333895/Asteration/About%20Us/Komunikasi/faiz_wegtog.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">83</div>
				<hr>
				<div class="info">
					<p id="name">Faiz Daniswara Eltri</p>
					<p id="panggilan"><em>/faiz/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Vidio Editor -->
	<section class="foto-sekbid" id="editor">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249810/Asteration/About%20Us/Banner%20Sekbid/video_editor_geneln.png">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/razan_fth/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715330994/Asteration/About%20Us/Editor/raz_uhh3q7.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">48</div>
				<hr>
				<div class="info">
					<p id="name">Razan Muhammad Al F</p>
					<p id="panggilan"><em>/rajan roti zzaaan/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/outtaten_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715330993/Asteration/About%20Us/Editor/joc_lzgjiq.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">94</div>
				<hr>
				<div class="info">
					<p id="name">Jocelyn Felita Lim</p>
					<p id="panggilan"><em>/juy/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/_r.pang/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715330994/Asteration/About%20Us/Editor/ric_nmxvdh.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">34</div>
				<hr>
				<div class="info">
					<p id="name">Richy Pangestu</p>
					<p id="panggilan"><em>/ri-pang/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/fatiyyahd/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715330993/Asteration/About%20Us/Editor/fat_nlr6xa.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">45</div>
				<hr>
				<div class="info">
					<p id="name">Fatiyyah A. D.</p>
					<p id="panggilan"><em>/fatiyyah/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/vkqldks/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715330994/Asteration/About%20Us/Editor/fab_dixg9u.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">46</div>
				<hr>
				<div class="info">
					<p id="name">Fabian Ghafiqi Ahmad</p>
					<p id="panggilan"><em>/fabian/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Illustrator -->
	<section class="foto-sekbid" id="illustrator">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249806/Asteration/About%20Us/Banner%20Sekbid/illustrator_yxtsbn.png">

		<div class="personal-card">

			<div class="each-info">
				<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715326130/Asteration/About%20Us/Illustrator/gab_zqysj4.png">
				
				<div class="nomor-jersey">47</div>
				<hr>
				<div class="info">
					<p id="name">Gabriela Ivana Rahel S</p>
					<p id="panggilan"><em>/ivana/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/mgnols/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715326131/Asteration/About%20Us/Illustrator/mag_f4krzx.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">18</div>
				<hr>
				<div class="info">
					<p id="name">Magnolia Serafine Galen</p>
					<p id="panggilan"><em>/mimi/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/jeven.rivaldo/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715326130/Asteration/About%20Us/Illustrator/jepen_txsrc3.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">34</div>
				<hr>
				<div class="info">
					<p id="name">Jeven Rivaldo Setiawan</p>
					<p id="panggilan"><em>/jepen/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/er1ka_er/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715326132/Asteration/About%20Us/Illustrator/erika_kmxvoi.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">76</div>
				<hr>
				<div class="info">
					<p id="name">Erika Syaputri</p>
					<p id="panggilan"><em>/erika/ /rika/ /er/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/ireneeeech/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715326130/Asteration/About%20Us/Illustrator/irene_jkkfjp.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">29</div>
				<hr>
				<div class="info">
					<p id="name">Irene Christantie Hiumawan</p>
					<p id="panggilan"><em>/iyen/ /rene/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/adhrrl.rzqqi/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715326130/Asteration/About%20Us/Illustrator/adh_jxi6mo.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">44</div>
				<hr>
				<div class="info">
					<p id="name">Adharrel Razaqqi</p>
					<p id="panggilan"><em>/darrel/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Script Writer -->

	<section class="foto-sekbid" id="script_writer">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249809/Asteration/About%20Us/Banner%20Sekbid/script_q7zjf6.png">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/justin_marguel/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715323953/Asteration/About%20Us/Script%20Writer/justin_gwy1ss.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">50</div>
				<hr>
				<div class="info">
					<p id="name">Justin Marguel</p>
					<p id="panggilan"><em>/justin/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/kathleen_milano/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715323954/Asteration/About%20Us/Script%20Writer/kath_eciyrp.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">89</div>
				<hr>
				<div class="info">
					<p id="name">Kathleen Jasia Milano</p>
					<p id="panggilan"><em>/kth/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/moonseai/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715323953/Asteration/About%20Us/Script%20Writer/fel_zdvzm8.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">63</div>
				<hr>
				<div class="info">
					<p id="name">Felicia Tio Sumarto</p>
					<p id="panggilan"><em>/fel/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/louissss_ssss/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715323955/Asteration/About%20Us/Script%20Writer/loius_o4dhtd.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">27</div>
				<hr>
				<div class="info">
					<p id="name">Kelly Louis Alpendo</p>
					<p id="panggilan"><em>/louis/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/wiwid_cu/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715323956/Asteration/About%20Us/Script%20Writer/wiwid_anhbrl.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">53</div>
				<hr>
				<div class="info">
					<p id="name">Widya Oliviera Cutri</p>
					<p id="panggilan"><em>/widya/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Acting -->
	<section class="foto-sekbid" id="acting">
		<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715249806/Asteration/About%20Us/Banner%20Sekbid/actress_uonuy3.png">

		<div class="personal-card">

			<div class="each-info">
				<a href="https://www.instagram.com/thufailahn/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715322355/Asteration/About%20Us/Acting/naj_nzpm09.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">71</div>
				<hr>
				<div class="info">
					<p id="name">Najla Thufailah</p>
					<p id="panggilan"><em>/najla/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/catherinecallinskyv/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715322354/Asteration/About%20Us/Acting/cath_rpeggk.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">96</div>
				<hr>
				<div class="info">
					<p id="name">Catherine Callinsky V</p>
					<p id="panggilan"><em>/cath/</em></p>
					<p id="jabatan">Koordinator</p>
				</div>
			</div>

			<div class="each-info">
				<a href="https://www.instagram.com/cndychrsnt_/">
					<img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1715322354/Asteration/About%20Us/Acting/cindy_i1agrr.png">
					<h2><i class="bi bi-instagram"></i></h2>
				</a>
				<div class="nomor-jersey">21</div>
				<hr>
				<div class="info">
					<p id="name">Cindy Chrisanta Thengono</p>
					<p id="panggilan"><em>/cindy/</em></p>
					<p id="jabatan">Anggota</p>
				</div>
			</div>
		</div>
	</section>

{% endblock main %}