{% extends "asteration/layout.html" %}

{% block css_js %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='asteration/css/events.css') }}">
{% endblock css_js %}

{% block title %}Events{% endblock title %}

{% block main %}
	<h1 class="past" id="past">Our Events</h1>

	<section class="event past">
		<a href="{{ url_for('e_qaliftar') }}"><img id="qaliftar" src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1711019334/Asteration/image/Banner/Qaliftar_bdv3kx.png"></a>
		<a href="{{ url_for('e_reveera') }}"><img id="reveera" src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1707915121/Asteration/Reveera/Banner_valentine_3_zvoyzk.png"></a>
		<a href="{{ url_for('e_lunerast') }}"><img id="lunarest" src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1707373085/Asteration/image/Banner/Lunerast_ctf78y.png"></a>
		<a href="{{ url_for('e_litioree') }}"><img id="litioree" src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1705085480/Asteration/image/Banner/litioree_vzov8r.png"></a>
		<a href="{{ url_for('e_armone') }}"><img id="armone" src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1705085475/Asteration/image/Banner/armone_no3toa.png"></a>
		<a href="{{ url_for('e_pelita') }}"><img id="pelita" src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1705085480/Asteration/image/Banner/pelita_mmunl3.png"></a>
		<a href="{{ url_for('e_aksara') }}"><img id="aksara" src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1705085484/Asteration/image/Banner/aksara_krhuy3.png"></a>

	</section>
{% endblock main %}