{% extends "credence/layout.html" %}

{% block css_js %}
<script src="{{ url_for('static', filename='credence/js/e_altarma.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='credence/css/e_altarma.css')}}">
{% endblock css_js%}

{% block title%}Altarma{% endblock title %}

{% block main %}
<section class="stars">
</section>

<section class="ketupat">
    <img class="kleft" src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706702560/Credence/img/foto/altarma/ketupat_bhz05d.png" alt="">
    <img class="kright" src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706702554/Credence/img/foto/altarma/ketupat2_tsu1mz.png" alt="">
</section>

<section class="banner">
    <section class="gradient-banner">
    
    </section>
</section>

<section class="about">
    <h1>About Altarma</h1>
    <p>
        Altarma merupakan kepanjangan dari al-iftar ma'an, yang artinya buka bersama. Dibulan yang suci ini, tentu tidak asing untuk umat muslim melakukan buka bersama, entah bersama teman, keluarga, dan sesama umat nuslim lainnya. Manfaat dari buka bersama banyak sekali, seperti menjaga tali persaudaraan, melatih untuk saling berbagi, dan masih banyak lainnya. Oleh karena itu, dengan adanya altarma ini, semua siswa SMA Ignatius Global School diharapkan mampu untuk melakukan hal hal positif di dalamnya, seperti berbagi, melatih kesabaran, dan masih banyak lagi lainnya.
    </p>
</section>

<section class="content">
    <h1>Contents</h1>

    <h4>ACTIVITIES</h4>
    <ul>
        <li>
            <h5><b>Sholat Ashar dan Maghrib berjamaah</b></h5>
        </li>
        <li>
            <h5><b>Tilawah Al-Qur'an</b></h5>
            <p>
                Tilawah adalah membaca Al-Qur’an dengan bacaan yang menampakkan huruf-hurufnya dan berhati-hati dalam melafadzkan agar lebih mudah untuk memahami makna-makna yang terkandung di dalam Al-Qur’an. Tilawah adalah bagian dari kegiatan qiraah dan zikir. Meski demikian, Tilawah adalah khusus untuk membaca Al-Qur’an saja.
            </p>
        </li>
        <li>
            <h5><b>Kultum</b></h5>
            <p>
                Kultum merupakan kependekan dari kuliah tujuh menit. Istilah tersebut biasa digunakan untuk kegiatan menyampaikan ceramah islami secara singkat.
            </p>
        </li>
        <li>
            <h5><b>Murojaah</b></h5>
            <p>
                Murojaah adalah kegiatan mengulang kembali pelajaran atau hafalan. Metode ini biasanya dilakukan oleh para hafidz untuk menjaga hafalan Al-Qur'an mereka.
            </p>
        </li>
        <li>
            <h5><b>Sholawatan</b></h5>
            <p>
                Sholawat adalah bentuk pujian dan cara umat Islam bersilaturrahim kepada Nabi Muhammad SAW.
            </p>
        </li>
        <li>
            <h5><b>Buka puasa bersama</b></h5>
        </li>
    </ul>

    <h4>PERFORMANCE</h4>
    <ul>
        <li>
            <h5><b>Nasyid</b></h5>
            <p>
                Nasyid merupakan salah satu jenis musik yang berasal dari tradisi Islam yang syair lagunya mengandung kata-kata, nasehat-nasehat, doa serta pujianpujian kepada Allah SWT. Nasyid berasal dari bahasa arab, “ansyada-yunsyidu” yang artinya bersenandung.
            </p>
        </li>
        <li>
            <h5><b>Tari Saman</b></h5>
            <p>
                Tari Saman merupakan salah satu tari tradisional asal Indonesia yang bahkan sudah cukup dikenal di seluruh mancanegara. Tarian satu ini merupakan sebuah tarian suku dataran tinggi Gayo abad ke-XIV Masehi yang biasa ditampilkan ketika perayaan peristiwa-peristiwa penting di dalam adat.  
            </p>
        </li>
        <li>
            <h5><b>Performance SD/SMP/SMA IGS</b></h5>
        </li>
        <li>
            <h5><b>Performance Club Theater</b></h5>
        </li>
    </ul>

    <h4>ICE BREAKING</h4>     

    <H4>FOTO BERSAMA</H4>
</section>
{% endblock main %}