{% extends "credence/layout.html" %}

{% block css_js %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='credence/css/e_moration.css')}}">
{% endblock css_js%}

{% block title%}Moration{% endblock title %}

{% block main %}
<section class="banner">
    <section class="gradient-banner">
    
    </section>
</section>

<section class="about">
    <h1>About Moration</h1>
    <p>
        MORATION (Moon Rabbit Celebration), acara ini di selenggarakan untuk merayakan hari raya imlek bersama siswa/i Ignatius Global School. Kami juga menyediakan berbagai macam penampilan yang sudah disiapkan dan lomba seperti koko cici, dengan adanya acara MORATION kami harap agar semua keluarga IGS menikmati dan bersenang-senang  dalam menyambut “malam pergantian tahun”.
    </p>
</section>

<section class="content">
    <h1>Content</h1>
    <div class="gambar">
        <img src="https://cdn.discordapp.com/attachments/1066689364408668280/1066690418592468993/band.png" alt="">
        <img src="https://cdn.discordapp.com/attachments/1066689364408668280/1066690418844110898/barongsai.png" alt="">
        <img src="https://cdn.discordapp.com/attachments/1066689364408668280/1066690419158679602/chandrika.png" alt="">
        <img src="https://cdn.discordapp.com/attachments/1066689364408668280/1066690419490050149/dance_club.png" alt="">
        <img src="https://cdn.discordapp.com/attachments/1066689364408668280/1066690419775246417/fae.png" alt="">
        <img src="https://cdn.discordapp.com/attachments/1066689364408668280/1066690420135952395/koko_cici.png" alt="">
        <img src="https://cdn.discordapp.com/attachments/1066689364408668280/1066690420412796958/mandarin_club.png" alt="">
        <img src="https://cdn.discordapp.com/attachments/1066689364408668280/1066690420664438825/pembagian_angpao.png" alt="">
        <img src="https://cdn.discordapp.com/attachments/1066689364408668280/1066690420962230303/richael.png" alt="">
        <img src="https://cdn.discordapp.com/attachments/1066689364408668280/1066690421285212160/wushu.png" alt="">
    </div>
</section>

{% endblock main %}