{% extends "credence/layout.html" %}

{% block css_js %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='credence/css/e_moration.css')}}">
{% endblock css_js%}

{% block title%}Moration{% endblock title %}

{% block main %}
<section class="banner">
    <section class="gradient-banner">
    
    </section>
</section>

<section class="about">
    <h1>About Moration</h1>
    <p>
        MORATION (Moon Rabbit Celebration), acara ini di selenggarakan untuk merayakan hari raya imlek bersama siswa/i Ignatius Global School. Kami juga menyediakan berbagai macam penampilan yang sudah disiapkan dan lomba seperti koko cici, dengan adanya acara MORATION kami harap agar semua keluarga IGS menikmati dan bersenang-senang  dalam menyambut “malam pergantian tahun”.
    </p>
</section>

<section class="content">
    <h1>Content</h1>
    <div class="gambar">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706877012/Credence/img/foto/moration/band_antskl.png" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706877015/Credence/img/foto/moration/barongsai_dd3djz.png" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706877015/Credence/img/foto/moration/chandrika_s4fo4c.pngg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706877016/Credence/img/foto/moration/dance_club_ewvbzs.png" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706877017/Credence/img/foto/moration/fae_i5uw3a.png" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706877016/Credence/img/foto/moration/koko_cici_wlyvay.png" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706877014/Credence/img/foto/moration/mandarin_club_cj9epo.png" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706877018/Credence/img/foto/moration/pembagian_angpao_dfkwwl.png" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706877018/Credence/img/foto/moration/richael_tqxjc1.png" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706877036/Credence/img/foto/moration/wushu_n45cgm.png" alt="">
    </div>
</section>

{% endblock main %}