{% extends "credence/layout.html" %}

{% block css_js %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='credence/css/e_nox_salvatoris.css') }}">
{% endblock css_js %}

{% block title %}Nox Salvatoris{% endblock title %}

{% block main %}
<section class="banner">
    <section class="gradient-banner">
    
    </section>
</section>

<section class="about">
    <h1>About Nox Salvatoris</h1>
    <p>
        "Nox Salvatoris" bisa juga diartikan night of saviour dalam bahasa inggris. Acara yang di khususkan untuk merayakan natal bagi siswa yang beragama kristen dan katolik dan perayaan ini juga bertujuan untuk menjalin kebersamaan. Acara ini diselenggarakan oleh pihak osis dengan menyajikan berbagai penampilan yang menarik. Oleh karena itu, kami mengundang seluruh murid kristen dan katolik SMP dan SMA Ignatius Global School untuk merayakan natal bersama pada tanggal 9, Januari 2022 di Gedung IGS Mayor Ruslan.
    </p>
</section>

<section class="content">
    <h1>Contents</h1>
    <h4>MISA BERSAMA</h4>
    <p>Misa di pagi hari dengan seluruh warga Katolik IGS dengan lagu-lagu misa yang dibawakan oleh IGS Choir Squad</p>
    <h4>PERFORMANCE</h4>
    
    <ul>
        <li>
            <h5><b>MASS DANCE</b></h5>
            Performance flashmob dari tim OSIS SMA IGS diiringi lagu-lagu bertema natal
        </li>
        <li>Performance oleh Ananda & Simon</li>
        <li>Performance oleh Chelsea Livina Rusli</li>
        <li>Performance Kaylee Osteen Lie</li>
        <li>Performance dance oleh guru</li>
        <li>Performance oleh Madeline Isabelle & Kharyn Vanesta Husnafsky</li>
        <li>Performance oleh Carrenina Yansen Andreas & Aurel Bonita</li>
        <li>Performance oleh Club Band</li>
    </ul>
    <h4>GAMES</h4>
    <p>Games seru, seperti tebak lagu dan truth or dare sebagai ice breaking untuk memecahkan keadaan tegang dan memeriahkan kembali acara</p>
    <H4>FOTO BERSAMA</H4>
    <p>Foto bersama seluruh peserta acara sebagai kenang-kenangan, sekaligus dokumentasi</p>
</section>

<img class="footer-divider" src="./img/foto/snow_platform.png" alt="">
{% endblock main%}