{% extends "credence/layout.html" %}

{% block css_js %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='credence/css/e_talent_scouting.css')}}">
{% endblock css_js%}

{% block title%}Talent Scouting{% endblock title %}

{% block main %}
<div class="title">  
    <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865053/Credence/img/foto/talent_scouting/logo_s5zzxo.png" alt="" class="title-full">
    <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865055/Credence/img/foto/talent_scouting/logohp_i2s2nu.png" alt="" class="title-hp">
</div>


<section class="content">
    <h1>About Talent Scouting</h1>
    <p>
        Talent Scouting is a weekly activity carried out by SMA Ignatius Global School students, where students get the opportunity to showcase their talents, both in the arts and sports. besides that in this activity there are also several additional sequences such as birthday greetings and the announcement of the winner.
    </p>

    <h1>Previous Talent Scouting</h1>

    <p>Every talent scouting, we always start with a flag ceremony to show appreciation to our country.</p>

    <div class="photo-collection">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865139/Credence/img/foto/talent_scouting/DSC06381_xx5dek.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865081/Credence/img/foto/talent_scouting/DSC06390_pf4mi1.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865056/Credence/img/foto/talent_scouting/IMG_1172_dkslfe.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865079/Credence/img/foto/talent_scouting/DSC06383_vyavu9.jpg" alt="">
    </div>

    <p>After the ceremony, we start our main event with the grandest opening by our masters of ceremony.</p>

    <div class="photo-collection">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865054/Credence/img/foto/talent_scouting/IMG_1191_q3f5ma.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865059/Credence/img/foto/talent_scouting/DSC06391_syqduk.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865163/Credence/img/foto/talent_scouting/IMG_1381_ubgiyj.jpg" alt="">
    </div>

    <p>We have held a lot of performances over the months, including singing performances...</p>

    <div class="photo-collection">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865087/Credence/img/foto/talent_scouting/DSC06396_xq52eo.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865087/Credence/img/foto/talent_scouting/DSC06397_g42rzi.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865090/Credence/img/foto/talent_scouting/DSC06398_jewmud.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865086/Credence/img/foto/talent_scouting/DSC06412_f7b5vc.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865136/Credence/img/foto/talent_scouting/IMG_2671_kstaya.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865126/Credence/img/foto/talent_scouting/IMG_2735_vngd5s.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865171/Credence/img/foto/talent_scouting/IMG_2785_alojzm.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865051/Credence/img/foto/talent_scouting/IMG_1214_zgkgwz.jpg" alt="">
    </div>

    <p>... dances and flashmob ...</p>

    <div class="photo-collection">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865168/Credence/img/foto/talent_scouting/IMG_2567_d8yikn.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865150/Credence/img/foto/talent_scouting/IMG_2591_afranl.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865146/Credence/img/foto/talent_scouting/IMG_4897_zx6yba.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865134/Credence/img/foto/talent_scouting/IMG_4899_a2xcyf.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865053/Credence/img/foto/talent_scouting/IMG_4904_cscxrp.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865056/Credence/img/foto/talent_scouting/IMG_4956_pmldgq.jpg" alt="">
    </div>
    
    <p>... band and musical instruments performances ...</p>

    <div class="photo-collection">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865068/Credence/img/foto/talent_scouting/DSC06399_eiws5h.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865090/Credence/img/foto/talent_scouting/DSC06423_rnuluo.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865106/Credence/img/foto/talent_scouting/DSC06433_se6eyw.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865110/Credence/img/foto/talent_scouting/IMG_2649_tmpwit.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865169/Credence/img/foto/talent_scouting/IMG_2682_nykvge.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865148/Credence/img/foto/talent_scouting/IMG_2700_uoho6c.jpg" alt="">
    </div>
    
    <p>... and even self defense.</p>

    <div class="photo-collection">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865053/Credence/img/foto/talent_scouting/IMG_1237_n7qhcq.png" alt="">
    </div>

    <p>We also occasionally have motivation speeches and other surprises.</p>

    <div class="photo-collection">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865049/Credence/img/foto/talent_scouting/IMG_1205_rcgvtx.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865109/Credence/img/foto/talent_scouting/IMG_2544_yp6amz.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865156/Credence/img/foto/talent_scouting/DSC06436_xxga4h.jpg" alt="">
        <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865135/Credence/img/foto/talent_scouting/IMG_2796_pthpph.jpg" alt="">
    </div>

    <h1 style="text-align: center;">Interested in showcasing your talents?</h1>
    <h1 style="text-align: center;">Contact us and be in the next</h1>
    <img src="https://res.cloudinary.com/dhnak6cxo/image/upload/v1706865053/Credence/img/foto/talent_scouting/logo_s5zzxo.png" alt="" style="width: 80%;">
</section>
{% endblock main %}